<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="robocontainer" type="RoboContainer.RoboConfig.Settings, RoboContainer"/>
		<section name="robo2" type="RoboContainer.RoboConfig.Settings, RoboContainer"/>
	</configSections>
	<robocontainer>
		<ForPlugin pluginType="TestAppConfig.IFoo, TestAppConfig">
			<UsePluggable pluggableType="TestAppConfig.Foo1, TestAppConfig" />
		</ForPlugin>
	</robocontainer>
	<robo2>
		<ForPlugin pluginType="TestAppConfig.IFoo, TestAppConfig">
			<UsePluggable pluggableType="TestAppConfig.Foo2, TestAppConfig" />
		</ForPlugin>
	</robo2>
</configuration>